@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p><b>What the details we'r storing</b></p>
<p>Your Name,Address,Phone Number,Email</p>
<p><b>Why we'r storing</b></p>
<p>For User friendly experiance</p>
